{% extends "DEMOAPP/base.html" %}
{% block content %}
<h1 class="display-4">Product List</h1>
<body>
<form action="" method="post">
    {% csrf_token%}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
        <tr>
            <td style="text-decoration : underline">Product Name</td>
            <td style="text-decoration : underline"> Unit</td>
            <td style="text-decoration : underline">Consumption Rate</td>
            <td style="text-decoration : underline"> Delivery</td>
        </tr>
        {% for product in products %}
        <tr>
            <td><a href="/products/{{product.id}}">{{product.Name}}</a></td>
            <td> {{product.unit}}</td>
            <td> {{product.consrate}}</td>
            <td> {{product.delivery}}</td>
            <td>
                <button type="submit" class="btn btn-success" name="selectedProductId" value="{{product.id}}"><i
                        ></i>Delete
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</form>
</body>
{% endblock content %}