{% extends "DEMOAPP/base.html" %}
{% block content %}
<h1 class="display-4">Product Regsiter</h1>
<form action="" method="POST" autocomplete="off" >
    {% csrf_token%}
    <label>Name</label>
    <input name="Name" type="text" required>
    <label> Unit</label>
    <select name="unit">
        {% for item in units %}
            <option value="{{item}}">{{item}}</option>
        {% endfor %}
    </select>
    <label>Consumption Rate</label>
    <input name="consrate" type="number" min="0" required >
    <label>Delivery</label>
    <input name="delivery" type="number" min="0" required>
    <button type="submit" class="btn btn-success"><i class="fas fa-database"></i>Submit</button>
</form>
{{ error }}
{% endblock content %}