{% extends "DEMOAPP/base.html" %}
{% block content %}
<h1 class="display-4">Stock List</h1>
 <table class="table table-borderless">
     <thead class="border-bottom font-weight-bold">
        <tr>
                <td>Product Name</td>
                <td>Amount</td>
            </tr>
     </thead>
        {% for stock in stocks %}
            <tr>
                <td>{{stock.name}}</td>
                <td>{{stock.amount}}</td>
            </tr>
        {% endfor %}
   </table>
{% endblock content %}